[pos]
# 휴니크 POS 주소 (끝에 / 없이)
base_url = https://manage.empos.com

# 사장님 로그인 아이디/비밀번호
username = YOUR_POS_ID
password = YOUR_POS_PASSWORD


[github]
# GitHub Personal Access Token (Gist 권한)
# 발급: https://github.com/settings/tokens
token = ghp_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# 생성한 Gist의 ID (Gist URL에서 추출)
# 예: https://gist.github.com/yourname/abc123def456  -> abc123def456
gist_id = your_gist_id_here


[agent]
# 업데이트 주기 (초)
interval_seconds = 30
